 @charset "utf-8";
html, body, h1, h2, h3, h4, h5, h6, hr, p, iframe, dl, dt, dd, ul, ol, li, pre, form, fieldset, button, input, textarea, th, td {
	margin: 0;
	padding: 0
}
body {
	background-color: #FFF
}
body, button, input, select, textarea, fieldset, label {
	font: 12px/1.5 "Lucida Grande", tahoma, arial, \5b8b\4f53;
	color: #666
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%
}
ul, ol {
	list-style: none
}
fieldset, img {
	border: 0 none
}
img {
	-ms-interpolation-mode: bicubic
}
i, em {
	font-style: normal
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
input, select, textarea, button {
	font-size: 100%;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}
button, input[type=button], input[type=submit] {
	cursor: pointer
}
input[type=search] {
	-webkit-appearance: textfield
}
textarea {
	overflow-y: auto;
	resize: vertical
}
.clear, .clearfix {
	zoom: 1
}
.clear:after, .clearfix:after {
	content: ' ';
	display: block;
	clear: both;
	height: 0;
	visibility: hidden
}

	/*===== 样式重置 =====*/
		::-webkit-scrollbar {
 background-color:#FFF;
 height:10px;
 -webkit-appearance:none;
 width:10px;
}

		::-webkit-scrollbar-thumb {
 background-color:rgba(100,100,100,.5);
}
html, body {
	height: 100%;
	overflow: auto;
}
body, button, input, select, textarea, fieldset, label {
	font-family: microsoft yahei;
	font-weight: 400;
}
a {
	color: #666;
	text-decoration: none;
}
a:hover {
	color: #D70000;
	text-decoration: underline;
}
em {
	padding: 2px 4px;
	font-size: 90%;
	color: #c7254e;
	background-color: #f9f2f4;
	white-space: nowrap;
	border-radius: 4px;
}
.no_bob {
	border-bottom: none!important;
}
/*===== 左侧 =====*/
.ui_s {
	overflow: auto;
	position: fixed;
	width: 200px;
	height: 100%;
	background-color: #191818;
	font-family: "microsoft yahei";
	box-shadow: 1px 0px 5px rgba(0,0,0,.5)
}
.ui_s_unfold {
	width: 200px;
	opacity: 1;
	-webkit-transition: width 0.2s ease-out 0, opacity 0.2s ease-out 0
}
/*===== logo =====*/
.ui_logo {
	margin-top: 20px;
}
.ui_logo h1 {
	display: block;
	padding: 15px 20px;
	font-size: 18px;
	font-weight: normal;
	color: #FFF;
}
.ui_logo img {
	width: 150px;
}
/*===== 左侧导航 =====*/
.ui_menu {
	margin-top: 50px;
}
.ui_menu_item {
	border-bottom: 1px solid #333333;
}
.ui_menu_item:first-child {
	border-top: 1px solid #333333;
}
.ui_menu_item:last-child {
	border-bottom: none;
}
.ui_menu_tit {
	display: none;
	padding: 5px 10px;
	font-size: 16px;
	font-weight: normal;
	color: #FFF;
}
.ui_menu_con a {
	display: block;
	padding: 5px 10px 5px 20px;
	font-size: 14px;
	line-height: 34px;
	color: #999999;
	white-space: nowrap;
}
.ui_menu_con a:hover {
	background-color: #333333;
	text-decoration: none;
}
.ui_menu_con .active a,  .ui_menu_con .active a:hover {
	background-color: #00a3d7;
	color: #FFF;
	-webkit-transition: background 0.2s ease-out 0s;
}
/*===== 右侧内容 =====*/
.ui_m {
	position: relative;
	height: 100%;
	overflow-y: auto;
	position: absolute;
	width: -webkit-calc(100% - 400px);
	width: -moz-calc(100% - 400px);
	width: calc(100% - 200px);
	left: 200px;
	padding: 40px 100px 20px 100px;
	font-family: "microsoft yahei";
	line-height: 2.5;
	overflow-x: hidden;
}
.ui_m_item {
	position: absolute;
	opacity: 0;
	left: 120px;
	width: -webkit-calc(100% - 200px);
}
.ui_m_item.active {
	opacity: 1;
	z-index: 99;
	left: 100px;
	-webkit-transition: opacity 0.3s ease-out 0s, left 0.2s ease-out 0s;
}
.github_link {
	position: absolute;
	right: -100px;
	top: -40px;
}
.ui_h2 {
	padding: 20px 0;
	border-bottom: 1px solid #EEE;
	font-size: 36px;
	font-weight: normal;
	text-align: center;
}
.ui_h3 {
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: normal;
	border-bottom: 1px solid #EEE;
	clear: both;
}
.ui_con {
	color: #999;
}
.ui_con img {
	max-width: 90%;
}
.ui_con .con_txt {
	font-size: 14px;
	margin-bottom: 0px;
}
.con_tit {
	font-size: 18px;
}
.code_area {
	margin-top: 20px;
}
.ui_code {
	margin: 20px 0;
	font-family: tahoma, arial, \5b8b\4f53;
	line-height: 18px;
}
/*===== 小接口 =====*/
.tag_1 {
	display: inline-block;
	margin: 0 5px;
	padding: 0 5px;
	border-radius: 2px;
	border-width: 1px;
	border-style: solid;
	border-color: #CCC #EEE #EEE #EEE;
	background-color: #F1F1F1;
	line-height: 18px;
}
.tag_2 {
	display: inline-block;
	margin: 0 5px;
	color: #333;
}
/*===== 代码高亮 =====*/
.snippet {
	margin: 10px 0 40px;
	padding: 10px;
	font-size: 14px;
	line-height: 2;
}
.nav-tabs>li {
	font-size: 14px;
}
.tab-content {
	padding-top: 20px;
}
.manual_create input[type="text"], .manual_create textarea {
	width: 460px;
}
.form-horizontal .control-label {
	font-size: 14px;
}
.form-control {
	height: 20px;
}
textarea.form-control {
	height: 72px;
}
.auto_load_input {
	float: left;
	width: 460px;
	margin-right: 20px;
}
.auto_load_input+a {
	color: #096dba;
}
.auto_load_table {
	width: 460px;
	margin-top: 40px;
}
.group_select {
	float: left;
	width: 200px;
	margin-right: 20px;
	margin-top: 4px;
}
.group_select + a {
	color: #096dba;
	vertical-align: -5px;
}
.auto_load_group_selector {
	margin-bottom: 10px;
}
.auto_load_group_selector select {
	float: none;
}
.xdemo_platform_table {
	clear: both;
	margin-top: 15px;
}
.xdemo_platform_table th, .xdemo_platform_table td {
	font-size: 14px;
	color: #666666;
}
.xdemo_platform_table th {
	white-space: nowrap;
}
.xdemo_platform_table .col1 {
	white-space: nowrap;
}
.xdemo_platform_table .col_des {
	width: 52%;
}
.xdemo_platform_table .loading_row {
	text-align: center;
}
.xdemo_edit_layer .modal-body {
	height: 450px;
	overflow-y: scroll;
}
.xdemo_edit_layer input[type="text"], .xdemo_edit_layer textarea {
	width: 80%;
}
